<a href="https://colab.research.google.com/github/Shubhangidharmik/Product-Recommendation-Engine/blob/main/1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <b><u> Project Title : Build a recommender engine that reviews customer ratings and purchase history to recommend items and improve sales. </u></b>

### Amazon.com is one of the largest electronic commerce and cloud computing companies.

### Just a few Amazon related facts:

### They lost $4.8 million in August 2013, when their website went down for 40 mins. They hold the patent on 1-Click buying, and licenses it to Apple. Their Phoenix fulfilment centre is a massive 1.2 million square feet. Amazon relies heavily on a Recommendation engine that reviews customer ratings and purchase history to recommend items and improve sales.


### This is a dataset related to over 2 Million customer reviews and ratings of Beauty related products sold on their website.

### It contains

* ### the unique UserId (Customer Identification),
* ### the product ASIN (Amazon's unique product identification code for each product),
* ### Ratings (ranging from 1-5 based on customer satisfaction) and
* ### the Timestamp of the rating (in UNIX time)

### This dataset contains product reviews and metadata from Amazon, including 142.8 million reviews spanning May 1996 - July 2014.

### This dataset includes reviews (ratings, text, helpfulness votes), product metadata (descriptions, category information, price, brand, and image features), and links (also viewed/also bought graphs).

In [ ]:
#import the reqired libraries
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
import numpy as np
import pandas as pd
import math
import json
import time
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.model_selection import train_test_split
from sklearn.neighbors import NearestNeighbors
from sklearn.externals import joblib
import scipy.sparse
from scipy.sparse import csr_matrix
from scipy.sparse.linalg import svds
import warnings; warnings.simplefilter('ignore')
%matplotlib inline

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Product recommendation Engine/Copy of ratings_Beauty.csv')
df.head()

           UserId   ProductId  Rating   Timestamp
0  A39HTATAQ9V7YF  0205616461     5.0  1369699200
1  A3JM6GV9MNOF9X  0558925278     3.0  1355443200
2  A1Z513UWSAAO0F  0558925278     5.0  1404691200
3  A1WMRR494NWEWV  0733001998     4.0  1382572800
4  A3IAAVS479H7M7  0737104473     1.0  1274227200

In [ ]:
df.shape

(2023070, 4)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2023070 entries, 0 to 2023069
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   UserId     object
 1   ProductId  object
 2   Rating     float64
 3   Timestamp  int64
dtypes: float64(1), int64(1), object(2)
memory usage: 61.7+ MB

# **Data Cleaning**

In [ ]:
df.describe()

             Rating     Timestamp
count  2.023070e+06  2.023070e+06
mean   4.149036e+00  1.360389e+09
std    1.311505e+00  4.611860e+07
min    1.000000e+00  9.087552e+08
25%    4.000000e+00  1.350259e+09
50%    5.000000e+00  1.372810e+09
75%    5.000000e+00  1.391472e+09
max    5.000000e+00  1.406074e+09

In [ ]:
df.isnull().sum()

UserId       0
ProductId    0
Rating       0
Timestamp    0
dtype: int64

**Dropping the "Timestamp" column**

In [ ]:
df.drop('Timestamp', inplace = True, axis = 1)

In [ ]:
df.head(2)

           UserId   ProductId  Rating
0  A39HTATAQ9V7YF  0205616461     5.0
1  A3JM6GV9MNOF9X  0558925278     3.0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2023070 entries, 0 to 2023069
Data columns (total 3 columns):
 #   Column     Dtype
---  ------     -----
 0   UserId     object
 1   ProductId  object
 2   Rating     float64
dtypes: float64(1), object(2)
memory usage: 46.3+ MB

**The data is very big So we will consider first 50000 rows and all columns from dataset.**

In [ ]:
#Taking subset of the dataset
df1=df.iloc[:50000,0:]

In [ ]:
df1.head(3)

           UserId   ProductId  Rating
0  A39HTATAQ9V7YF  0205616461     5.0
1  A3JM6GV9MNOF9X  0558925278     3.0
2  A1Z513UWSAAO0F  0558925278     5.0

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   UserId     50000 non-null  object
 1   ProductId  50000 non-null  object
 2   Rating     50000 non-null  float64
dtypes: float64(1), object(2)
memory usage: 1.1+ MB

In [ ]:
df1.describe()

             Rating
count  50000.000000
mean       4.159460
std        1.321525
min        1.000000
25%        4.000000
50%        5.000000
75%        5.000000
max        5.000000

**Detecting NULL values**

In [ ]:
df1.isnull().sum()

UserId       0
ProductId    0
Rating       0
dtype: int64